
<!-- Title section -->

<div class="container title-section">
  <div class="row">
    <h3>Projects</h3>
  </div>
</div>

<!-- end of title -->

<!-- Projects section -->

<div class="container">
  <div class="row">

    <div ng-hide="home.currentProject.title" class="row" ng-repeat="projects3 in home.projects.projects">
      <div class="one-third column" ng-repeat="project in projects3">
        <h5 ng-click="home.chooseProject(project)">{{project.title}}</h5>
        <div class="btn-container">
          <a class="button" ng-click="home.chooseProject(project)">View</a>
        </div>
        <p>{{project.summary}}</p>
      </div>
    </div>

    <div class="row">
      <h4>{{home.currentProject.title}}</h4>
    </div>

    <div ng-show="home.currentProject.title" class="row project-display">

      <div class="eight columns">
        <br>
        <p ng-repeat="paragraph in home.currentProject.pageContent.paragraphs track by $index">{{paragraph}}<br></p>
      </div>
      <div class="four columns">
        <div class="btn-container">
          <a class="button" ng-click="home.hideProject()">Close</a><br><br>
          <a class="button" href="#">GitHub</a><br>
          <a class="button" href="#">Heroku</a>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- end of projects -->

<div class="container title-section">
  <div class="row">
    <h3>Contact</h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <form>
      <div class="row">
        <div class="six columns">
          <label>Your email</label>
          <input class="u-full-width" type="email" placeholder="test@mailbox.com">
        </div>
        <div class="six columns">
          <label>Reason for contacting</label>
          <select class="u-full-width">
            <option value="Option 1">Questions</option>
            <option value="Option 2">Admiration</option>
            <option value="Option 3">Can I get your number?</option>
          </select>
        </div>
      </div>
      <label for="exampleMessage">Message</label>
      <textarea class="u-full-width" placeholder="Hi Louis …" id="exampleMessage"></textarea>
      <label>
        <input type="checkbox">
        <span class="label-body">Send a copy to yourself</span>
      </label>
      <input class="button" type="submit" value="Submit">
    </form>

  </div>
</div>
