
<!-- Projects section -->

<div class="container title-section" ng-hide="home.currentProject.title">
  <div class="row">
    <h3>Projects</h3>
  </div>
</div>

<div class="container" ng-hide="home.currentProject.title">
  <div class="row">

    <div class="row" ng-repeat="projects3 in home.projects.projects">
      <div class="one-third column myColumn text-centered" ng-repeat="project in projects3">
        <h5>{{project.title}}</h5>
        <div class="btn-container">
          <a class="button" ng-click="home.chooseProject(project)">View</a>
        </div>
        <p>{{project.summary}}</p>
      </div>
    </div>

  </div>
</div>

<!-- end of projects -->

<!-- currentProject section -->

<div class="container project-display" ng-show="home.currentProject.title">
  <div class="row">
    <h4>{{home.currentProject.title}}</h4>
  </div>

  <div class="row">
    <div class="eight columns myColumn">
      <br>
      <p style="font-weight:bold;">Techs used</p>
      <ul>
        <li ng-repeat="tech in home.currentProject.pageContent.techs">{{tech}}</li>
      </ul>
      <p ng-repeat="paragraph in home.currentProject.pageContent.paragraphs track by $index">{{paragraph}}<br></p>
    </div>
    <div class="four columns myColumn">
      <div class="btn-container">
        <a class="button" ng-click="home.hideProject()">Back</a><br><br>
        <span ng-repeat="link in home.currentProject.pageContent.links"><a class="button" href="{{link.url}}">{{link.text}}</a><br></span>
      </div>
      <div ng-show="home.currentProject.pageContent.colabs.length">
        <br><p style="font-weight:bold;">Colaborators</p>
        <ul>
          <li ng-repeat="colab in home.currentProject.pageContent.colabs"><a href="{{colab.url}}">{{colab.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>

<!-- end of currentProject section -->

<!-- About section -->
<div class="container title-section about" ng-hide="home.currentProject.title">
  <div class="row">
    <h3>About me</h3>
  </div>
</div>

<div class="container title-section about" ng-hide="home.currentProject.title">
  <div class="row">
    <p>I’m a feature focussed MEAN stack developer, for now, with a strong interest in high performance large scale server systems and microservices. I want to play with the most powerful computers there are, I’ve found a way in and it’s only just begun.</p>
  </div>
</div>

<!-- end of about section -->

<!-- Contact section -->

<div class="container title-section" ng-hide="home.currentProject.title">
  <div class="row">
    <h3>Contact</h3>
  </div>
</div>

<div class="container" ng-hide="home.currentProject.title">
  <div class="row">
    <form>
      <div class="row">
        <div class="six columns">
          <label>Your email</label>
          <input class="u-full-width" type="email" placeholder="test@mailbox.com">
        </div>
        <div class="six columns">
          <label>Reason for contacting</label>
          <select class="u-full-width">
            <option value="Option 1">Questions</option>
            <option value="Option 2">Admiration</option>
            <option value="Option 3">Can I get your number?</option>
          </select>
        </div>
      </div>
      <label>Message</label>
      <textarea class="u-full-width" placeholder="Hi…"></textarea>
      <label>
        <input type="checkbox">
        <span class="label-body">Send a copy to yourself</span>
      </label>
      <input class="button" type="submit" value="Submit">
    </form>

  </div>
</div>

<!-- end of contact section -->
